MyTestWebBack/MyTestWebBack/Service References/MyCardTagSettingWCF/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyCardTagSettingWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyCardTagSettingWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReturnValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReturnDataSet" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ReturnMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMsgNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnValue" nillable="true" type="tns:ReturnValue" />
</xs:schema>