MyTestWebBack/MyTestWebBack/Service References/MyCardTagSettingWCF/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.16.1.247/MyCardTagSettingWCF/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyCardTagSettingWCF" />
  <xs:element name="MSM_View_GetStoreTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MSM_View_GetStoreTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyCardTagSettingWCF" minOccurs="0" name="MSM_View_GetStoreTagResult" nillable="true" type="q1:ReturnValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MSM_SP_StoreTagInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StoreTagURL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="State" type="xs:int" />
        <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Priority" type="xs:int" />
        <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MSM_SP_StoreTagInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyCardTagSettingWCF" minOccurs="0" name="MSM_SP_StoreTagInsertResult" nillable="true" type="q2:ReturnValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MSM_SP_StoreTagUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreTagSn" type="xs:int" />
        <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StoreTagURL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="State" type="xs:int" />
        <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Priority" type="xs:int" />
        <xs:element minOccurs="0" name="UserStamp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MSM_SP_StoreTagUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyCardTagSettingWCF" minOccurs="0" name="MSM_SP_StoreTagUpdateResult" nillable="true" type="q3:ReturnValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>